@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --mango-theme : #ff8100;
    --font-color : whitesmoke;
}

#navbar {
    box-shadow: none;
    background-color: whitesmoke;
     background-image: url("/img/background.png");
}

body {
    background-image: url("/img/background.png");
}


/* introduction  */
.introduction {
   text-align: center;
  
   height: 400px;
}
.intro-div {
    display: flexbox;
    margin-top: 10%;
}
.introduction h1 {
    font-weight:bold;
    color: #FC2E20;

}
.introduction h4 {  
   
   
}
.intro-create-button {
    height: 40px;
    width:max-content;
    font-family: 'Varela Round';
    color: black;
    background: white;
    border-radius: 11px;
    padding: 10px;
    border-style: solid;
    transition-duration: 0.2s;
    cursor: pointer;
}
.intro-create-button:hover {
    background: rgb(0, 0, 0);
    color: #f5f5f5;

}
.intro-contract-button {
    height: 40px;
    width:max-content;
    font-family: 'Varela Round';
    color: rgb(255, 246, 246);
    background: rgb(0, 0, 0);
    border-radius: 11px;
    padding: 10px;
    border-style: solid;
    transition-duration: 0.2s;
    cursor: pointer;
}
.intro-contract-button:hover {
    color: rgb(0, 0, 0);
    background : white;
}

/* Information Div  */

.information {
    transition: ease-in;
    color: var(--font-color);
    background-color: black ;
    height: max-content;
    padding: 70px 100px;
}

.information p span{
    color: var(--mango-theme);

}

.info-div h3 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 30px;
    color: var(--mango-theme)
}
.info-div p {
    font-size: 16px;
    line-height: 29px;
}



/* Qualities Div  */
.qualities {
    padding: 15px;
}
.qualities div {
    
    margin-top: 150px;
}
.qualities div p {
     word-wrap: break-word;
     width: 60%;
     line-height: 1.5rem; 
     font-size: 16px;
}
/*limitless*/
.icon {
     height: 200px;
     width: 200px;
     display: inline-block;
}
.right-icon {
    float : right;
}
.left-icon {
    float : left;
}
.left {
    text-align: left;
    margin-left: 400px;
}
.right {
    text-align: left;
}
.link-button {
    color : var(--accent-color);
    transition-duration: 0.2s;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}
.link-button:hover{
    
    color: black;
    background-color:white;
    box-shadow: 1px 5px 10px 0 rgba(0,0,0,0.1);
}
/* usecases */

.usecases {
    padding: 30px 100px;
}
.usecases h2 {
    text-align: center;
    color: ;
}
.usecases h2 span {
    color : #FC2E20
}

hr {
    margin-top: 50px;
}
/* Card Containers */

.container {
    margin-top: 50px;
}
.container img {
    width: 100px;
    height: 100px;
    
}
.card{
    display: inline-block;
    align-items: center;
    background-color:black;
    width: 25%;
    margin-left: 43px;
    height: 20%;
    padding: 20px;
    border-radius: 20px;
    color: var(--font-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    cursor: pointer;
    transition-duration: 0.3s;
}
.card:hover {
    box-shadow: 1px 5px 10px 0 rgba(0,0,0,1)
}

.future-usecases {
    margin-top: 50px;
}


.footer {
    display: grid;
    padding: 20px;
    grid-template-areas:
    'menu menu main main right right side side'
    'menu menu main main right right side side'
    'menu menu main main right right side side';
     margin-top: 100px;
    background-color: black;
    height: 200px;
    color: white
}
.company {
    grid-area: right;
}
ul {
    list-style: none;
}
ul li {
    margin-top: 20px;
    letter-spacing: 1px;
}
.footer a {
    transition-duration: 0.2s ;
}
.footer a:hover {
    color: white;
}

.community {
    
    grid-area : main;
}
.navigate {
    grid-area: side;
}
.contact ul li:hover{
    background-color: turquoise;
   
}