@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');


:root {
    --background-color : whitesmoke;
    --secondary-color : white;
}
body{
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Montserratt', sans-serif;
   
}

/* Navbar */
#navbar {
    position: fixed;
    padding: 0.2px 0 0.1px 40px;
    box-shadow: 1px 1px 20px 2px rgb(0, 0, 0, 0.4);
    width:  100%;
   cursor: default;
    background-color: var(--secondary-color);
}

.nav-logo {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 28px;
    display: inline-block;
}

.navbar-left {
position: absolute;
right: 80px;
top : 8.5px;
}

.user {
    color: rgb(221, 57, 57) !important;
}
.buttons{
    display: inline-block;
    margin-left: 15px;

    color: turquoise;
    cursor: pointer;
    transition-duration: 0.1s;
}
.buttons:hover{
    transform: translate(2px,2px);
    color: rgb(99, 223, 210);

}