
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
     --background-color : white;
     --secondary-color : whitesmoke;
     --accent-color: rgb(2, 238, 255);
     --cute-font :   'Rubik', sans-serif;
}
body{
     margin: 0;
     background-color: var(--background-color);
     font-family: 'Rubik', sans-serif;
   
}

/* Navbar */
#navbar {
     position:sticky;
     padding: 0.2px 0 0.1px 40px;
     box-shadow: 1px 1px 20px 2px rgb(0, 0, 0, 0.4);
     cursor: default;
     background-color: var(--secondary-color);
    
}

.nav-logo {
     font-family: 'Yanone Kaffeesatz', sans-serif;
     font-size: 28px;
     display: inline-block;
}  

 .navbar-left {
     position: absolute;
     right: 250px;
     top : 6px;

 }
 /* Navbar Dropdown */

.user-dropdown{
     position: absolute;
     right: 80px;
     top : 2px;

}
.user {
     color: black !important;
     display: inline-block;
     margin-left: 15px;
     cursor: pointer;
     transition-duration: 0.1s;

     background-color: var(--background-color);
     border-radius: 10px;
     padding: 5px;
     box-shadow: 1px 2px 4px 1px rgb(0, 0, 0, 0.4);
}


.dropdown-content {
     font-family: var(--cute-font);
     display: none;
     position: absolute;
     background-color: #f9f9f9;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 10px 0 10px 0;
     z-index: 1;
     right: 0;
}

.dropdown-content a {
     color: black;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     cursor: pointer;
}

.dropdown-content a:hover {
      background-color: rgb(221, 219, 219);
  }
.user-dropdown:hover .dropdown-content {
      display: block;
}

/* Navbar Buttons */

.buttons{
     display: inline-block;
     margin-left: 20px;

     color: turquoise;
     cursor: pointer;
     transition-duration: 0.1s;
}
.buttons:hover{
     transform: translate(2px,2px);
}



/* Fundraiser Body */

.body-div{
     display: grid;
     grid-template-areas:
     'header header header header header header'
     'menu main main main right right'
     'menu footer footer footer footer footer';
     grid-gap: 10px;
     background-color: var(--secondary-color);
     

     margin: 10px 30px ;
     box-shadow: 1px 2px 4px 1px rgb(0, 0, 0, 0.4);
}
.header-div{
     grid-area: header;
     font-family: 'Roboto', sans-serif;
     text-align: center;
}
/* Main Div */
.main-div{
      grid-area: main;
     width: 700px;
}
.fundraiser-img {
     width: 700px;
     height: 400px;
}
.fundraiser-details{
     grid-area: right;
     width: 175px;

}
.fundraiser-details button {
    font-family: var(--cute-font);
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
     display: block;
     width: 100%;
     margin-bottom: 10px;
     cursor: pointer;
     border-radius: 10px;
     height:  40px;
     border-style: none;
     box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.4);
     transition-duration: 0.2s;
}
.contribute-button{
      background-color: var(--accent-color) ;
}
.contribute-button:hover{

      box-shadow: 1px 2px 4px 2px rgb(0, 0, 0, 0.5);
}
.share-button{
     background-color: rgb(0, 183, 255);
}
.share-button:hover{
     box-shadow: 1px 2px 4px 2px rgb(0, 0, 0, 0.5);
}

/* Contributions Div */

.contributions-div h2 {
     background-color: grey;
     margin-top: 0;
     font-size: 20px;
 

}
.contributions-div{
    width: 300px;
     grid-area: menu;
     box-shadow: 1px 2px 4px 1px rgb(0, 0, 0, 0.4);
}
